@model TaskModel

@{
    ViewBag.Title = "Delete Task";
}

<h1>Delete Task</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>

<h4>Are you sure you want to delete this task?</h4>

<div>
    <hr />
    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.TaskName)
        </span><br />

        <h3>@Model.TaskName</h3>
    </p>

    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.Description)
        </span><br />

        @Model.Description
    </p>

    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.DueDate)
        </span><br />

        @Model.DueDate
    </p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TaskID" />
    <input type="hidden" asp-for="TaskName" />

    <button type="submit" class="btn green-background">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn beige-background">Cancel</a>
</form>
