@* @model IEnumerable<TaskModel>

@{
    ViewData["Title"] = "Index";
}

<!-- grid view -->
<div id="grid-view" class="grid-view hide">
    <!-- list -->
    <div>
        <h2 class="grid-header">
            <span class="circle pink-background"></span>
            <span class="text">To do</span>
        </h2>
        <ul class="tasks-list pink">

            @foreach (TaskModel t in Model)
            {
                <li class="task-item">
                    <button class="task-button">
                        <a asp-controller="Task" asp-action="Details" asp-route-id="@t.TaskID">
                            <div>
                                <p class="task-name">@t.TaskName</p>
                                <p class="task-due-date">@t.DueDate</p>
                            </div>

                            <i class="fa-solid fa-angle-right arrow-icon"></i>
                        </a>
                    </button>
                </li>
            }
        </ul>
    </div>
</div> *@

@* <div id="list-view" class="list-view ">
    <div class="list-container pink">
        <h2 class="list-header">
            <span class="circle pink-background"></span>
            <span class="text">To do</span>
        </h2>

        <ul class="tasks-list">

            @foreach (TaskModel t in Model)
            {
                <li class="task-item">
                    <button class="task-button">
                        <a asp-controller="Task" asp-action="Details" asp-route-id="@t.TaskID">
                            <p class="task-name">@t.TaskName</p>
                            <p class="task-due-date">@t.DueDate</p>
                            <i class="fa-solid fa-angle-right arrow-icon"></i>
                        </a>
                    </button>
                </li>
            }

        </ul>
    </div>

</div> *@
